

<div class="sticky-header">
  <%- include("../index.ejs") %>
  <h2><%= title %></h2>
  <div class="add-button-container add-element"><a href="/genres/create">Add</a></div>
</div>
<section class="category-section">
<ul>
    <% if(genres.length > 0 ) { %>
      <% for(const genre of genres) {%>
          <li><a href="<%= genre.url%>"><%= genre.name%></a></li>
      <% } %>
    <% } else { %>
      <p>There's no genres yet.</p>
      <% } %>
</ul>
</section>
<%- include('../partials/footer.ejs') %>