<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <p>Currently in this library are:</p>
      <p>Artists: <%= artist %></p>
      <p>Albums: <%= album %></p>
      <p>Songs: <%= song %></p>  
    </div>
  </body>
</html>
