<%- include('index.ejs') %>
<h2><%= title%></h2>
<div>
    <p><a href="/artists">Artists:</a> <%= artist %></p>
    <p><a href="/albums">Albums:</a> <%= album %></p>
    <p><a href="/songs">Songs:</a> <%= song %></p>  
    <p><a href="/genres">Genres:</a> <%= genre %></p>  
    <a href="/test">TEST</a>
</div>