<%- include("../index.ejs")%>

<h1><%= title %></h1>
<h3 class="artist">by <a href="<%= artist.url%>"><%= artist.name%></a></h3>
<div class="information">
    <a href="<%= album.url %>"><%= album.title %></a>
    <p> Track Number: <%= track_number%></p> 
</div>
<% if(genres.length > 0) { %>
    <% for(const genre in genres) { %>
        <p><%= genre.name%></p>
    <% } %>
<% } else { %>
    <p>Not genres found.</p>
<% } %>
<div class="panel">
    <div>
        <a href=<%=`${url}/edit`%> class="edit-information">Edit</a>
    </div>
    <div>
        <button type="button" id="delete-button"  class="delete-button">Delete</button>
    </div>
</div>
<div class="popup-container" hidden>
    <form action=<%=`${url}/?_method=DELETE`%> method="POST">
        <label for="delete">Are you sure you want to delete this song?</label>
        <div class="form-control">
            <button type="submit" name="delete" id="delete-action">Confirm</button>
        <button type="button" id="cancel-button">Cancel</button>
        </div>
    </form>
</div>
<script>
    const popupContainer = document.querySelector('div.popup-container'); 
    const deleteButton = document.querySelector('button#delete-button'); 
    const cancelButton = document.querySelector('button#cancel-button'); 

    deleteButton.addEventListener('click', showPopup); 
    cancelButton.addEventListener('click', disablePopup); 

    function disablePopup(){
        popupContainer.hidden = true; 
    }
    function showPopup(){
        popupContainer.hidden = false; 
    }


</script>