<%- include('../index.ejs') %>
<h2><%= title %></h2>
<section class="category-section albums-section">
  <div class="add-button-container"><a href="/albums/create" class="add-button">Add</a></div>
<ul>
    <% if(albums.length > 0 ) { %>
      <% for(const album of albums) {%>
          <li><a href="<%= album.url%>"><%= album.title%></a> by <a href="<%= album.artist.url%>"><%= album.artist.name%></a></li>
      <% } %>
    <% } else { %>
      <p>There's no albums yet.</p>
      <% } %>
  </ul>
</section>