
<div class="sticky-header">
  <%- include('../index.ejs') %>
  <h2><%= title %></h2>
  <div class="add-button-container add-element"><a href="/albums/create" class="add-button">Add</a></div>
</div>

<section class="category-section albums-section">
<ul>
    <% if(albums.length > 0 ) { %>
      <% for(const album of albums) {%>
          <li><a href="<%= album.url%>"><%= album.title%></a> by <a href="<%= album.artist.url%>"><%= album.artist.name%></a></li>
      <% } %>
    <% } else { %>
      <p>There's no albums yet.</p>
      <% } %>
  </ul>
</section>
<%- include('../partials/footer.ejs') %>