

<div class="sticky-header">
    <%- include('../index.ejs') %>
    <h2><%= title %></h2>
</div>



<div class="img-container">
    <img src="data:image/jpeg;base64,<%= cover%>" alt="">
</div>
<h3 class="artist">by <a href="<%= artist.url%>"><%= artist.name%></a></h3>


<div class="information">
    <div class="year-information"><p><%= release_year%></p></div>
<% if(genres.length > 0) { %>
    <% for(const genre of genres) { %>
        <a href="<%= genre.url%>"><%= genre.name%></a>
        <% } %>
<% } else { %>
    <span>Genre not found.</span>
    <% } %>
</div>
<div class="tracklist">
    <p>Tracklist</p>
<% if(songs.length){ %>
    <ul>
    <% for(const song of songs) { %>
        <li><%= song.track_number %>. <a href="<%= song.url%>"><%= song.title%></a></li>
    <% } %>
    </ul>
    <% } else { %>
    <span>No songs stored in the database</span>
    <% } %>
</div>
<div class="panel">
    <a href=<%=`${url}/edit`%> class="edit-information">Edit</a>
    <button type="button" id="delete-button" class="delete-button" >Delete</button>

</div>

<div class="popup-container" hidden>
    <form action=<%=`${url}/?_method=DELETE`%> method="POST">
        <label for="delete">Are you sure you want to delete this album?</label>
        <div class="form-control">
            <button type="submit" name="delete" id="delete-action">Confirm</button>
        <button type="button" id="cancel-button">Cancel</button>
        </div>
    </form>
</div>
<% if(error) { %>
    <div class="error-message-container">
      <%- include('../../public/images/x.svg') %>
      <p class="error-message"><%= error%></p>
    </div>
    <% } %>
<script>
    const popupContainer = document.querySelector('div.popup-container'); 
    const deleteButton = document.querySelector('button#delete-button'); 
    const cancelButton = document.querySelector('button#cancel-button'); 

    deleteButton.addEventListener('click', showPopup); 
    cancelButton.addEventListener('click', disablePopup); 

    function disablePopup(){
        popupContainer.hidden = true; 
    }
    function showPopup(){
        popupContainer.hidden = false; 
        popupContainer.scrollIntoView({ behavior: 'smooth' });
    }
</script>