<%- include('../index.ejs') %>

<h2><%= title%></h2>
<div>
    <img src="data:image/jpeg;base64,<%= photo %>" alt="">
</div>
<div>
    <span><%= formation_year%> - <%= disbandment_year%></span>
</div>
<div>
    <p><%= biography%></p>
</div>
<div>
    <a href=<%=`${url}/edit`%>>Edit</a>
</div>
<div>
    <form action=<%=`${url}/?_method=DELETE`%> method="POST">
        <button type="submit">Delete</button>
    </form>
</div>
<% if(error) { %>
    <div>
        <p><%= error%></p>
    </div>
<% } %>