<%- include('../index.ejs') %>

<h2><%= title%></h2>
<div>
    <img src="data:image/jpeg;base64,<%= photo %>" alt="">
</div>
<div>
    <span><%= formation_year%> - <%= disbandment_year%></span>
</div>
<div>
    <p><%= biography%></p>
</div>